@import 'variables';

label {
  margin-top: $base-spacer*4;
  margin-bottom: $base-spacer*2;
  display: block;
  font-size: 14px;
  color: $gray-light;
  font-weight: 900;

}

input {
  width: 100%;
  border: 0 none;
  border-bottom: 1px solid $gray-lighter;
  padding: $base-spacer 0;
  margin-bottom: $base-spacer*4;
  font-size: 16px;
  color: $gray-light;
  font-weight: 100;
  outline: none;
  transition: all 400ms;

  &:focus {
    border-bottom: 1px solid $action-primary;
    color: $action-primary;

    & + label {
      color: $action-primary;
    }
  }
}
