div#wrapper {
  position: absolute;
  top: 30%;
  left: 50%;
  border-radius: 50%;

  &:before {
    content: ' ';
    background-color: #d2d2d2;
    width: 120px;
    height: 120px;
    position: absolute;
    z-index: 3;
    margin-left: -10px;
    margin-top: -10px;
  }

  &:after {
    content: ' ';
    background-color: #d2d2d2;
    width: 120px;
    height: 120px;
    transform: rotate(45deg);
    margin-left: -10px;
    margin-top: -110px;
    position: absolute;
    z-index: 3;
  }
}


.smiley {
  height: 100px;
  width: 100px;
  position: relative;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  z-index: 4;

  &:after {
    content: "List is empty";
    width: 300px;
    position: absolute;
    top: 150%;
    left: 50%;
    margin-left: -40px;
    color: #bdbdbd;
  }
}

.smiley .eye {
  height: 12px;
  width: 12px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  position: absolute;
}

.left-eye {
  top: 40px;
  left: 30px;
}

.right-eye {
  top: 40px;
  right: 30px;
}

.mouth {
  -webkit-border-bottom-right-radius: 25px;
  -webkit-border-bottom-left-radius: 25px;
  -moz-border-radius-bottomright: 25px;
  -moz-border-radius-bottomleft: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  height: 25px;
  background-color: #000;
  position: absolute;
  width: 50px;
  left: 25px;
  top: 60px;

}

/*you can programmatically set the colors or even background images of these here */
div#wrapper, .smiley div {
  background-color: #d2d2d2;
}

.smiley {
  background-color: #fafafa;
}