$white:  #fff !default;
$black:  #000 !default;
$red: #d9403d !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$accent: #0277BD !default;
$green:  #43A047 !default;
$blue:   #0277BD !default;
$teal:   #009688 !default;
$pink:   #ff5b77 !default;
$purple: #5E35B1 !default;

$main: #525870 !default;
$secondary: #d59a01 !default;

$action-primary: #0277BD;
$action-primary-inverse: $white;

// Create grayscale
$gray-dark:                 #292b2c !default;
$gray:                      #464a4c !default;
$gray-light:                #636c72 !default;
$gray-light1: #c6c6c6 !default;
$gray-light2: #d9d9d9 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$base-spacer: 5px;