@import 'variables';

.header {
  background-color: $gray-lighter;
  border-bottom: 1px solid $gray-light1;
  padding: $base-spacer*2;
  margin: $base-spacer*2 -10px;
  font-size: 14px;
  text-transform: uppercase;
  color: $gray;

  &:first-child {
    margin-top: 0;
  }
}

.item {
  display: block;
  margin: $base-spacer 0;
  padding: $base-spacer;
  border: 1px solid $gray-lightest;
  border-left: 2px solid $accent;
}

.listItem {
  display: block;

  .listItemLabel {
    display: inline-block;
    color: $gray-light;
    font-weight: 400;
    font-size: 14px;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .signature {
    background-color: #000;
    color: $gray-lightest;
    font-size: 12px;
    word-break: break-all;
    padding: $base-spacer;
  }

}

.selection {
  display: block;
  padding-left: 0;

  li {
    list-style: none;
    padding: $base-spacer;
    border-left: 2px solid $gray-lightest;
    cursor: pointer;

    &:hover {
      background-color: $gray-lightest;
      border-left-color: $action-primary;
    }

  }

}

.pretty-json-container {
  overflow: auto;
  display: block;
}
